<!doctype html>
<html>
<head>
    {% include 'head.html' %}
    
    <script> 
        var ticker = '{{ticker}}';
        var url = '{{url}}';
    </script>        
</head>

<body class="bg-white">
    {% include 'header.html' %}

    <div class="graph3">
        <h2>Pluto Stock Recommand - {{ticker}}</h2> 
    </div>

    <div class="graph3">
        <form action="{{url}}/graph" method ="POST">
            <input type="search" id="ticker" name="ticker">
            <button>Search</button>
        </form>
    </div> 

    <div class="graph3">
        Ticker : {{ticker}}  
        <canvas id="{{ticker}}"></canvas>
    </div>

    <!-- 차트 -->
    <script>
        var ticker_index = "{{ ticker_index|safe }}".replace("[", "").replace("]", "").replace(" ", "").split(",");
        var ticker_value = "{{ ticker_value|safe }}".replace("[", "").replace("]", "").replace(" ", "").split(",");
        var aver_step = "{{aver_step}}"

        var chart = new Chart(document.getElementById(ticker).getContext('2d'), {
        type: 'line',
        data: {
            labels: ticker_index,
            datasets: [{
            label: 'Close Price',
            backgroundColor: 'transparent',
            borderColor: 'gold',
            data: ticker_value,
            }]
        },
        options: {
            scales: {
	    		yAxes: [{
	    			ticks: {
	    				stepSize : aver_step,
	    				fontSize : 12,
		    		}
		    	}]
		    }
        }
        });
    </script>
    {% include 'footer.html' %}
</body>
</html>