<!doctype html>
<html>
<head>
    {% include 'head.html' %}

    <script> 
        var url = '{{url}}';
    </script>
</head>

<body class="bg-white">
    {% include 'header.html' %}

    <div class="graph3">
        <h2>Sign Up Page</h2> 
    </div>

    <div class="login">
        <form action="{{url}}/signup?" method ="POST" >
            ID : <input type="text" id="id" name="id"><br>
            PW : <input type="password" id="pw" name="pw"><br>
            <button>Sign Up</button>
        </form>
    </div> 

    {% include 'footer.html' %}
</body>
</html>